@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --background-color: #1f2937;
  --accent-color: #3882f6;
  --page-width: 60%;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;

  height: 100vh;
}
.header {
  background-color: var(--background-color);
  color: var(--main-text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;

  padding: 1em;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 2em;

  width: var(--page-width);
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
}
.navbar a {
  color: var(--secondary-text-color);
}
.logo {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 0;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;

  width: var(--page-width);
  margin-bottom: 4em;
  /* background-color: aqua; */
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
  align-items: flex-start;
  flex: 1 0 1;
  flex-basis: 50%;
  /* background-color: red; */
  align-self: stretch;
  padding-right: 1em;
  line-height: 1.2em;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
}
.hero-text p {
  color: var(--secondary-text-color);
  font-size: 18px;
}
.hero-text button {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: bold;
  padding: 0.5em 2em;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.hero-img {
  flex: 0 0 1;

  background-color: #e5e7eb59;
  height: 200px;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical-align: middle; */
}
/* .hero-img img {
} */
.info-sect {
  padding: 1em;
  /* background-color: red; */
}
.info-sect h2 {
  color: var(--background-color);
  text-align: center;
  font-size: 36px;
  margin-top: 0.6em;
  font-weight: 900;
}
.pic-sect {
  margin-top: 2.5em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  gap: 3.5em;
  color: var(--background-color);
}
.pic-sect section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 0.5em;
  text-align: center;
}
.pic-sect img {
  border: 3px solid var(--accent-color);
  border-radius: 15px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

footer {
  margin-top: auto;
  background-color: var(--background-color);
  color: var(--main-text-color);

  text-align: center;
  padding: 1.6em;
  word-spacing: 4px;
}
